@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Josefin+Sans:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-colour: rgb(16, 22, 31);
    --secondary-blue: rgb(23, 30, 39);
    --mint-green: #8EA9A8;
    --icy-white: #D8DEED;
    --gradient: linear-gradient(90deg, #97bbaa 0%, #64acff 100%);
}

body {
    background: var(--bg-colour);
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button,
input,
textarea {
    all: unset;
    cursor: pointer;
}

h3,
.nav-item,
.tech-stack-container span,
.tech-stack-item {
    font-family: 'Josefin Sans', sans-serif;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

.home-text input,
h4,
p,
.box span,
.contact-info input,
.contact-info textarea,
form .button {
    font-family: 'Inter', sans-serif;
}

.nav-item,
h1,
h3,
p,
.box span,
.tech-stack-container span,
.tech-stack-item,
.contact-info input,
.contact-info textarea {
    color: var(--icy-white);
}

h2:not(.gradient-bg),
h4,
.home-text a,
.box span {
    color: var(--mint-green);
}

.home-text,
.about-text,
.process-text,
.contact-text {
    width: 80%;
}

/* Navigation Styles */
header {
    width: 100%;
}

nav {
    background: var(--secondary-blue);
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 9;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    width: 100%;
}

.nav-logo,
.nav-toggle-button {
    width: 40px;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links li {
    list-style-type: none;
}

.nav-item {
    font-size: 1.12rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.09em;
    text-decoration: none;
}

.nav-item:hover {
    color: var(--mint-green);
}

/* Social Media Links  */
span.fixed-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    position: fixed;
    bottom: 0;
}

.social-media-links {
    padding: 10px;
}

/* Standard Pages Styles */
.pages {
    margin: 0 auto;
    padding: 0 130px;
    max-width: 1400px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.07em;
    line-height: 150%;
    margin-top: -10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.12rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.1em;
}

/* Home Styles */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding-top: 65px;
}

.home-text h5 {
    color: #B6BAC6;
    font-family: courier;
    font-size: 1.12rem;
    font-weight: lighter;
    letter-spacing: 0.09em;
    line-height: 150%;
}

h1 {
    color: var(--icy-white);
    font-weight: 700;
    font-size: 3.12rem;
    line-height: 150%;
    letter-spacing: 0.07em;
    margin-top: 10px;
}

.gradient-bg {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-text a,
form .button {
    text-decoration: none;
}

.home-text input,
form .button {
    color: #8EA9A8;
    border: 2px solid #8EA9A8;
    border-radius: 6px;
    padding: 7px 30px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 200.2%;
    letter-spacing: 0.1em;
}

.home-text input:hover,
form .button:hover {
    background: #7b8d8d61;
}

/* .home-arrow {
    display: flex;
    justify-content: center;
}

.home-arrow img {
    width: 50px;
    margin-top: -100px;
} */

.home-ig img {
    width: 480px;
}

/* About Me Styles */
#about {
    height: 80vh;
    padding-top: 90px;
}

.about-text h4,
.process-text h4 {
    margin: 15px 0;
}

.about-text p {
    padding-bottom: 15px;
}

.tech-stack-container {
    width: 100%;
    margin-top: 20px;
}

.tech-stack-container span {
    font-size: 1.5rem;
    position: relative;
}

.tech-stack {
    background: var(--secondary-blue);
    width: 65%;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin: 20px auto;
}

.tech-stack-img {
    position: absolute;
    left: 720px;
    bottom: 120px;
}

.tech-stack-row {
    display: flex;
    position: relative;
}

.tech-stack-item {
    width: 140px;
    height: 82px;
    padding: 0 10px;
    text-align: center;
}

.tech-stack-item img {
    height: 42px;
    width: 42px;
}

figcaption {
    padding-top: 10px;  
    font-size: 0.87rem;            
}

/* My Process Styles */
#process {
    height: 100vh;
    padding-top: 100px;
}

.process-text {
    margin-bottom: 25px;
}

.process-text h2 {
    margin-bottom: 25px;
}

.process-text h2 {
    margin-bottom: 15px;
}

.container {
    display: flex;
}

.container-box {
    background: var(--secondary-blue);
    margin: 10px;
    width: 250px;
    padding: 20px;
    border-radius: 8px;
}

.container-box p {
    font-size: 0.87rem;
    margin-top: 15px;
}

/* Creations Styles */
#creations {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.creations-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 200%;
    letter-spacing: 0.1em;
}

.creations-tech {
    color: #8EA9A8;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.87rem;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.07em;
}

.creations-tech span {
    word-spacing: 8px;
}

.creations-tech-links {
    display: flex;
}

.creations-tech-links a {
    padding-right: 20px;
}

.creations-tech-links img {
    width: 24px;
    height: 22px
}

.carousel-track-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 500ms ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.carousel-left {
    width: 52%;
    display: block;
}

.carousel-right {
    width: 46%;
}

.carousel-slide img {
    width: 100%;
}

.carousel-right img {
    box-shadow: 15px 15px rgba(0, 0, 0, 0.2);
}

.creations-button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carousel-button-left img,
.carousel-button-right img {
   width: 100%;
}

.btns button {
    border: 2px solid rgb(60, 66, 79);
    border-radius: 6px;
    padding: 15px;
    border-radius: 6px;
    height: 15px;
    width: 15px;
}

.btns button:hover {
    background: var(--secondary-blue);
}

input.carousel-indicator {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--secondary-blue);
    margin: 15px 5px;
}

.carousel-indicator.current-slide {
    background: rgb(25, 26, 30);
}

.other-creations {
    margin-top: -120px;
}

.creations-row-1 {
    display: flex;
}

.box {
    background: var(--secondary-blue);
    margin-right: 20px;
    padding: 30px;
    border-radius: 10px;
}

.box:hover {
    background: rgba(46, 51, 61, 0.398);
    transform: translate(0, -15px);
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 5ms;
}

.box-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box img {
    width: 30px;
}

.box-links img {
    width: 20px;
    margin-right: 10px;
}

.box h3 {
    font-size: 1.25rem;
}

.box p {
    font-size: 0.87rem;
    margin-bottom: 10px;
}

.box span {
    font-size: 0.75rem;
    letter-spacing: 0.07em;
    word-spacing: 8px;
}

/* Contact Me Styles */
#contact {
    height: 90vh;
    padding-top: 90px;
}

.contact-text h2 {
    margin-bottom: 15px;
}

.contact-text p {
    margin-bottom: 15px;
}

.contact-info input,
.contact-info textarea {
    background: var(--secondary-blue);
    font-size: 0.87rem;
    line-height: 200.2%;
    letter-spacing: 0.1em;
}

.contact-info input {
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-info textarea {
    width: 600px;
    padding: 10px;
}

::placeholder {
    color: #B6BAC6;
}

/* Footer Styles */
footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hidden {
    display: none;
}

.footer span {
    margin: 0 10px;
}

/* Media Styles */
@media all and (min-width: 1143px) {
    .home-ig {
        width: 60%;
    }

    .tech-stack {
        width: 68%;
    }
}

@media all and (max-width: 1060px) {
    .tech-stack-item {
        margin: 0 -5px;
    }
}


@media all and (max-width: 980px) {
    .tech-stack-item {
        margin: 0 -10px;
    }
}

@media all and (max-width: 895px) {
    .tech-stack-item {
        margin: 0 -15px;
    }
}

@media all and (max-width: 815px) {
    .tech-stack-item {
        margin: 0 -20px;
    }
}

@media all and (min-width: 769px) and (max-width: 1142px) {
    .home-ig {
        width: 50%;
    }

    .home-ig img {
        width: 100%;
    }

    .pages {
        padding: 0 95px
    }

    .creations-container {
        width: 100%;
    }

    .carousel-slide {
        justify-content: space-between;
    }

    .carousel-right img {
        width: 100%;
    }
}

@media all and (max-width: 956px) {
    .home-ig img {
        display: none;
    }
    
    .home-text,
    .about-text,
    .process-text {
        width: 100%;
    }

    .home-text h2,
    .home-text p {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .fixed-links img {
        display: none;
    }

    .pages {
        padding: 0 40px;
    }

    .tech-stack {
        width: 90%;
    }

    #process {
        margin-top: -250px;
    }

    .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .creations-container {
        height: 65vh;
    }

    .carousel-slide {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 25px;
    }

    .carousel-left {
        order: 1;
        width: 100%;
        padding-top: 25px;
        text-align: center;
        height: 100%;
    }

    .creations-tech-links {
        justify-content: center;
    }

    .creations-tech-links a {
        position: relative;
        left: 20px;
    }

    .carousel-right {
        width: 80%;
    }

    .creations-button {
        height: auto;
        margin: 10px 10px;
        position: relative;
        right: 25px;
    }

    .btns button{
        margin: 0 5px;
    }
    
    .other-creations {
        margin-top: 5px;
    }

    #contact {
        margin-top: 70px;
    }

    .footer-links {
        display: flex;
        justify-content: center;
    }

    .footer-links a {
        padding: 0 20px;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 714px) {
    .tech-stack-item {
        margin: 0 -15px;
    }

    .creations-row-1 {
        flex-direction: column;
    }

    .box {
        margin-bottom: 10px;
    }
}

@media all and (max-width: 671px) {
    .contact-info input,
    .contact-info textarea {
        width: 94%;
    }
}

@media all and (max-width: 615px) {
    nav {
        display: none;
    }

    .tech-stack-item {
        margin: 0 -25px;
    }
}

@media all and (max-width: 542px) {
    #about {
        margin-bottom: 150px;
    }

    .tech-stack-item {
        margin: 0 -30px;
    }

    .creations-button {
        margin-top: -100px;
    }

    .other-creations {
        margin-top: -90px;
    }
}

@media all and (max-width: 480px) {
    #about {
        margin-bottom: 200px;
    }
}

@media all and (max-width: 438px) {
    #contact {
        height: auto;
        margin-bottom: 30px;
    }

    footer {
        height: auto;
    }
}

@media all and (max-width: 400px) {
    .pages {
        padding: 0 30px;
    }

    .home {
        margin-top: 70px;
        width: 100%;
        display: block;
    }

    .tech-stack-item img {
        width: 26px;
    }

    .tech-stack-item {
        margin: 0 -40px;
    }

    .tech-stack-item figcaption {
        font-size: 0.75rem;
    }

    #creations {
        margin-top: -30px;
    }

    .carousel-slide {
        width: 100%;
        padding-right: 0;
    }

    .carousel-right {
        width: 290px;
    }

    .carousel-left {
        width: 100%;
    }

    .creations-tech-links {
        position: relative;
        right: 20px; 
    }

    .other-creations {
        margin-top: -100px;
    }

    .box {
        margin: 10px 0;
    }

    #contact {
        height: auto;
    }

    .contact-text {
        width: 100%;
    }

    .contact-form {
        display: block;
    }

    .contact-info input,
    .contact-info textarea {
        width: 94%;
    }

    footer {
        height: 20vh;
        text-align: center;
    }
}