@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Josefin+Sans:wght@700&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #262A33;
}

header {
    width: 100%;
    margin-bottom: 170px;
}

/* Navigation Styles */
nav {
    background: rgba(46, 51, 61, 0.7);
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 1;
}

div.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-item {
    color: #8EA9A8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.09em;
    text-decoration: none;
    list-style-type: none;
}

/* Social Media Links  */
span.fixed-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    position: fixed;
    top: 580px;

}

.social-media-links {
    padding: 10px;
}

/* Standard Pages Styles */
.pages {
    margin: 0 120px;
}

h2 {
    color: #D8DEED;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

h4 {
    color: #8EA9A8;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

p {
    color: #D8DEED;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* font-weight: lighter; */
    line-height: 2;
    letter-spacing: 0.1em;
}

/* Home Styles */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 170px;
}

.home-text {
    width: 60%;
}

.home-text h5 {
    color: #B9B9B9;
    font-family: 'Courier';
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 0.09em;
    line-height: 150%;
}

h1 {
    color: #D8DEED;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0.1em;
    margin-top: 10px;
}

.gradient {
    background: linear-gradient(
        to right, 
        #8ac6c6 0%, 
        #2a77d6 32%,
        #454c93 48%, 
        #36267c 64%,
        #232082 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Roboto', sans-serif;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0.1em;
    margin-top: -10px;
    margin-bottom: 10px;

    background-size: 300% 300%;
    background-repeat: no-repeat;
    background-position: top left;
  
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    animation: .gradient infinite 1s linear;
}

@keyframes .gradient {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.home-text a {
    text-decoration: none;
    color: #8EA9A8;
    font-weight: 700;
}

.home-text a:visited {
    color: #4743c1;
}

a:hover {
    color: #c5d1d1;
}
/* About Me Styles */
#about {
    margin-top: 160px;
    height: 700px;
}

.about-text {
    width: 70%;
}

.about-text h4 {
    margin: 15px 0;
}

.about-text p {
    padding-bottom: 15px;
}

.tech-stack-container {
    width: 100%;
    margin-top: 10px;
    position: relative;
}
.tech-stack-container span {
    color: #D8DEED;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    position: relative;
    left: 150px;
}

.tech-stack-img {
    position: absolute;
    left: 1020px;
    margin-bottom: 20px;
}
.tech-stack {
    background: rgba(46, 51, 61);
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    gap: 15px;
}

.tech-stack-row {
    display: flex;
}

.tech-stack-item {
    font-family: 'Josefin Sans', sans-serif;
    color: #D8DEED;
    width: 160px;
    height: 82px;
    padding: 0 40px;
    text-align: center;
}

figcaption {
    padding-top: 10px;              
}

/* Projects Styles */