@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Josefin+Sans:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-colour: rgb(16, 22, 31);
  --primary-blue: rgb(23, 30, 39);
  --secondary-blue: rgba(54, 64, 80, 0.398);
  --mint-green: #8ea9a8;
  --icy-white: #c7d2ee;
  --gradient: linear-gradient(90deg, #97bbaa 0%, #64acff 100%);
}

body {
  background: var(--bg-colour);
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button,
input,
textarea {
  all: unset;
  cursor: pointer;
}

h3,
.nav-item,
.hm-nav-item,
.tech-stack-container span,
.tech-stack-item {
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
}

.home-text input,
h4,
p,
.box span,
.contact-info input,
.contact-info textarea,
form .button {
  font-family: 'Inter', sans-serif;
}

.nav-item,
.hm-nav-item,
h1,
p,
.box span,
.tech-stack-container span,
.tech-stack-item,
.contact-info input,
.contact-info textarea {
  color: var(--icy-white);
}

h2:not(.gradient-bg),
h4,
.home-text a,
.box span {
  color: var(--mint-green);
}

.home-text,
.about-text,
.process-text,
.contact-text {
  width: 80%;
}

h3 {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navigation Styles */
header {
  width: 100%;
}

nav {
  background: rgba(23, 30, 39, 0.7);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 9;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
  width: 100%;
}

.nav-logo,
.nav-toggle-button {
  width: 40px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links li {
  list-style-type: none;
}

.nav-item,
.hm-nav-item {
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.09em;
  text-decoration: none;
}

.nav-item:hover {
  color: var(--mint-green);
}

.nav-mobile,
.hamburger-menu {
  display: none;
}

.hamburger-menu {
  height: 120vh;
  background: rgba(23, 30, 39, 0.992);
  backdrop-filter: saturate(180%) blur(10px);
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#close-btn {
  width: 6%;
  position: absolute;
  right: 0;
  margin: 50px 50px 0 0;
}

.hm-nav-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  padding: 90px 0;
}

.hm-nav-item {
  font-size: 1.5rem;
}

.active {
  display: block;
}

/* Social Media Links  */
span.fixed-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  position: fixed;
  bottom: 0;
}

.social-media-links {
  padding: 10px;
}

/* Standard Pages Styles */
.pages {
  margin: 0 auto;
  padding: 0 130px;
  max-width: 1400px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 150%;
  margin-top: -10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.12rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.1em;
}

/* Home Styles */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-top: 60px;
}

.home-text h5 {
  color: #b6bac6;
  font-family: courier;
  font-size: 1.12rem;
  font-weight: lighter;
  letter-spacing: 0.09em;
  line-height: 150%;
}

h1 {
  color: var(--icy-white);
  font-weight: 700;
  font-size: 2.87rem;
  line-height: 150%;
  letter-spacing: 0.07em;
  margin-top: 10px;
}

.gradient-bg {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text a,
form .button {
  text-decoration: none;
}

.home-text input,
form .button {
  color: #8ea9a8;
  border: 2px solid #8ea9a8;
  border-radius: 6px;
  padding: 7px 30px;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 200.2%;
  letter-spacing: 0.1em;
}

.home-text input:hover,
form .button:hover {
  background: #7b8d8d61;
}

.home-ig img {
  width: 480px;
  filter: drop-shadow(0 0 1rem #86a697);
}

/* About Me Styles */
#about {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.about-text h4,
.process-text h4 {
  margin: 15px 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-text p {
  padding: 0 0 15px 0;
}

.about-paragraph {
  width: 55%;
}

.tech-stack-container {
  display: flex;
  justify-content: center;
}

.tech-stack-container span {
  font-size: 1.5rem;
}

.tech-stack {
  background: var(--primary-blue);
  height: 60%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  /* margin-top: 20px; */
}

.tech-stack-img {
  position: absolute;
  left: 720px;
  bottom: 120px;
}

.tech-stack-row {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.tech-stack-item {
  width: 140px;
  height: 82px;
  padding: 0 10px;
  text-align: center;
}

.tech-stack-item img {
  height: 42px;
  width: 42px;
}

figcaption {
  padding-top: 10px;
  font-size: 0.87rem;
}

/* Creations Styles */
#creations {
  height: 190vh;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}

.creations-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 200%;
  letter-spacing: 0.1em;
}

.creations-tech {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.87rem;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.07em;
}

.creations-tech span,
.box span {
  color: #6d7e9e;
  letter-spacing: 0.07em;
  word-spacing: 8px;
}

.creations-tech-links {
  display: flex;
}

.creations-tech-links a {
  padding-right: 20px;
}

.creations-tech-links img {
  width: 24px;
  height: 22px;
}

.creations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 90px; */
}

.creations-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin: 20px 20px 20px 0; */
  justify-content: space-between;
}

.box {
  background: var(--primary-blue);
  margin: 0 20px 20px 0;
  padding: 30px;
  /* border-radius: 10px; */
}

.box:hover {
  /* background: rgba(46, 51, 61, 0.398); */
  background: var(--secondary-blue);
  /* transform: translate(0, -15px); */
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 5ms;
}

.box-img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.box-img img {
  width: 30px;
}

.box-links img {
  width: 20px;
  margin-left: 15px;
}

.creations-img {
  width: 100%;
  margin: 10px 0;
}

.box h3 {
  font-size: 1.25rem;
}

.box p {
  font-size: 0.87rem;
  margin-bottom: 10px;
}

.box span {
  font-size: 0.75rem;
}

/* Contact Me Styles */
#contact {
  height: 90vh;
  padding-top: 90px;
}

.contact-text h2 {
  margin-bottom: 15px;
}

.contact-text p {
  margin-bottom: 15px;
}

.contact-info input,
.contact-info textarea {
  background: var(--primary-blue);
  font-size: 0.87rem;
  line-height: 200.2%;
  letter-spacing: 0.1em;
}

.contact-info input {
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
}

.contact-info textarea {
  width: 700px;
  padding: 10px;
}

::placeholder {
  color: #b6bac6;
}

/* Footer Styles */
footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hidden {
  display: none;
}

.footer span {
  margin: 0 10px;
}

/* Media Styles */
@media all and (min-width: 1143px) {
  .home-ig {
    width: 60%;
  }
}

@media all and (min-width: 769px) and (max-width: 1142px) {
  .home-ig {
    width: 50%;
  }

  .home-ig img {
    width: 100%;
  }

  .pages {
    padding: 0 95px;
  }

  #about {
    height: 160vh;
  }

  #creations {
    height: 280vh;
  }

  .creations-container {
    width: 100%;
  }

  .creations {
    justify-content: space-between;
  }
}

@media all and (max-width: 956px) {
  .home-ig img {
    display: none;
  }

  .home-text,
  .process-text {
    width: 100%;
  }

  .home-text h2,
  .home-text p {
    width: 100%;
  }

  .contact-info textarea {
    width: 600px;
  }
}

@media all and (max-width: 768px) {
  .fixed-links img {
    display: none;
  }

  .pages {
    padding: 0 40px;
  }

  #about {
    height: 120vh;
  }

  .about-content {
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }

  .about-text,
  .about-paragraph,
  .contact-text {
    width: 100%;
  }

  .tech-stack-container {
    height: fit-content;
    width: 100%;
  }

  .tech-stack {
    margin-top: 20px;
    width: 60%;
    height: 55%;
  }

  .container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  #creations {
    height: 190vh;
  }

  .creations-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .creations {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 25px;
  }

  .creations-tech-links {
    justify-content: center;
  }

  .creations-tech-links a {
    position: relative;
    left: 10px;
  }

  .box {
    margin: 10px 0;
  }

  #contact {
    height: 120vh;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer-links a {
    padding: 0 20px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 714px) {
  .box {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 671px) {
  .tech-stack {
    width: 80%;
  }

  .contact-info input,
  .contact-info textarea {
    width: 94%;
  }
}

@media all and (max-width: 615px) {
  nav {
    background: rgba(23, 30, 39, 0.93);
  }

  .nav-links {
    display: none;
  }

  .nav-mobile {
    display: block;
    width: 7%;
  }

  .nav-bar {
    justify-content: space-between;
  }

  #creations {
    height: 280vh;
  }
}

@media all and (max-width: 542px) {
  #creations {
    height: 300vh;
  }
}

@media all and (max-width: 480px) {
  #about {
    height: 120vh;
  }
}

@media all and (max-width: 438px) {
  #about {
    height: 180vh;
  }

  .tech-stack-item {
    margin: 0 -14px;
  }

  #creations {
    height: 465vh;
  }

  .creations-row {
    grid-template-columns: repeat(1, 1fr);
  }

  #contact {
    height: auto;
    margin-bottom: 30px;
  }

  footer {
    height: auto;
  }
}

@media all and (max-width: 414px) {
  body {
    width: 100%;
    position: relative;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }

  .home-text h2 {
    font-size: 2.1rem;
  }

  .home,
  #about,
  #creations,
  .other-creations,
  #contact {
    width: 100%;
  }

  .tech-stack {
    position: initial;
    height: 105%;
    width: 100%;
  }

  .tech-stack-item {
    margin: 0 -20px;
  }

  .tech-stack-item figcaption {
    font-size: 0.75rem;
  }

  .featured-creations {
    height: 55vh;
  }

  .creations {
    width: 100%;
  }

  .creations-tech-links {
    position: relative;
  }

  .other-creations {
    width: 100%;
    height: 145vh;
  }

  .box {
    width: 100%;
    margin: 10px 0;
  }

  #contact {
    height: auto;
  }

  .contact-text {
    width: 100%;
  }

  .contact-form {
    display: block;
  }

  footer {
    height: 20vh;
    text-align: center;
  }

  input.button {
    width: 80%;
    text-align: center;
  }
}

@media all and (max-width: 361px) {
  #about {
    height: 150vh;
  }

  #creations {
    height: 130vh;
  }
}
