@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&family=Inter:wght@300;400;500&family=Josefin+Sans:wght@700&family=Roboto:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(90deg, #97bbaa 0%, #64acff 100%);
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h3,
#gradient-bg {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav,
#mobile-menu {
  background: rgba(23, 30, 39, 0.7);
  backdrop-filter: saturate(180%) blur(10px);
}

#tech-stack {
  word-spacing: 8px;
}

#message-modal {
  background: rgba(23, 30, 39, 0.552);
  backdrop-filter: saturate(180%) blur(10px);
}

/* Toggle Button */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(54, 64, 80);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input {
  display: none;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before + .rightSlider {
  -webkit-transform: translateX(-24px);
  -ms-transform: translateX(-24px);
  transform: translateX(-24px);
}

input:checked + .slider:before + .leftSlider {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.document {
  color: #d8deed !important;
}

#contact {
  padding-bottom: 110px;
}
