@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&family=Inter:wght@300;400;500&family=Josefin+Sans:wght@700&family=Roboto:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(90deg, #97bbaa 0%, #64acff 100%);
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h3,
#gradient-bg {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav,
#mobile-menu {
  background: rgba(23, 30, 39, 0.7);
  backdrop-filter: saturate(180%) blur(10px);
}

#tech-stack {
  word-spacing: 8px;
}

#message-modal {
  background: rgba(23, 30, 39, 0.552);
  backdrop-filter: saturate(180%) blur(10px);
}

/* Particles.js Styling */
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #10161f;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
